{% extends "base.html"%}
{% block content %}
<br><br><br><br><br><br><br><br><br><br>
<head>
    <style>
  .menu .menu-img {
  width: 10px;
  border-radius: 50%;
  float: right;
  border: 5px solid rgba(255, 255, 255, 0.2);
}
    </style>
</head>
<body>

 <div class="section-title">
<p>Rainbow Diet</p>
 </div>
 <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">
  <div class="col-lg-4 menu-item filter-starters">
            <img style src="assets/img/bg8.png" width="450" style="float:right" class="menu-img" alt="">
          </div>
      </div>
      </div>
</section>
<p>Simply put, eating the rainbow involves eating fruits and vegetables of different colors every day.

Plants contain different pigments, or phytonutrients, which give them their color. Different-colored plants are linked to higher levels of specific nutrients and health benefits.

While eating more vegetables and fruit is always a good idea, focusing on eating a variety of colors will increase your intake of different nutrients to benefit various areas of your health.

While there are many purported benefits of phytonutrients, it’s difficult to perform randomized controlled trials — the most rigorous type of research — to prove their efficacy. As such, most research is based on population-level intakes and disease risk .

That said, almost all studies show benefits from regularly eating colorful fruits and vegetables with virtually no downsides. By getting a variety of color in your diet, you’re giving your body an array of vitamins, minerals, and phytochemicals to benefit your health .

Here’s an overview of the health benefits of different-colored foods

</p>
<p>
    Decreases inflammation in the body and helps prevent cancer • Keeps our immune system strong and our skin healthy •
Good for our vision - helps us see at night!
(prevents neural tube defects) • Keeps our bones, teeth and nails strong and also prevents blood clots!

</p>

<div class="section-title">
<p>100-Mile Diet</p>
 </div>

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">
  <div class="col-lg-4 menu-item filter-starters">
            <img style src="assets/img/100mile.png" width="450" style="float:right" class="menu-img" alt="">
          </div>
      </div>
      </div>
</section>
<p>
The concept of the 100-mile diet forces a mental shift from eating globally to think more locally
to ensure everything you eat is within a 100 mile radius of your table.
Though going cold turkey into eating within such a restricted geographical region may
not be for everyone you can start with a single family meal.

They called their self-imposed challenge the 100 Mile Diet: to only eat things that were produced
within a 100 mile radius of their home. Not just fruit and vegetables but everything,
including farm produce (if the animals had only been fed locally-sourced food as well)

    The Foods4BetterHealth report concludes that the benefit of eating local food,
and of the 100-mile diet, is that the consumer also reduces their ecological footprint,
since buying locally ensures that the food is not traveling for miles, which is more environmentally sustainable
</p>

<div class="section-title">
<p>Dash Diet</p>
 </div>
<p>
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">
  <div class="col-lg-4 menu-item filter-starters">
            <img style src="assets/img/dash.png" width="450" style="float:right" class="menu-img" alt="">
          </div>
      </div>
      </div>
</section>
    Dietary Approaches to Stop Hypertension (DASH) is an eating plan to lower or control high blood pressure.
The DASH diet emphasizes foods that are lower
in sodium as well as foods that are rich in potassium, magnesium and calcium — nutrients that help lower blood pressure.
    The DASH diet encourages you to reduce the sodium in your diet and eat a variety
of foods rich in nutrients that help lower blood pressure, such as potassium,
calcium and magnesium. By following the DASH diet, you may be able to reduce your blood pressure by a few points in just two weeks.
</p>
<div class="section-title">
<p>Diabetic Diet</p>
 </div>
 <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">
  <div class="col-lg-4 menu-item filter-starters">
            <img style src="assets/img/dia.png" width="450" style="float:right" class="menu-img" alt="">
          </div>
      </div>
      </div>
</section>
<p>
    A diabetes diet simply means eating the healthiest foods in moderate amounts and sticking to regular mealtimes. A diabetes diet is a healthy-eating plan that's
naturally rich in nutrients and low in fat and calories. Key elements are fruits, vegetables and whole grains.
<ul>
<li>maintain general good health.</li>
    <li>better manage your blood glucose levels.</li>
    <li>achieve target blood lipid (fat) levels.</li>
    <li>maintain a healthy blood pressure.</li>
    <li>maintain a healthy body weight.</li>
    <li>prevent or slow the development of diabetes complications.</li>
    </ul>
</p>
<div class="section-title">
<p>Weight-Loss Diet</p>
 </div>
 <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">
  <div class="col-lg-4 menu-item filter-starters">
            <img style src="assets/img/weightloss.png" width="450" style="float:right" class="menu-img" alt="">
          </div>
      </div>
      </div>
</section>
<p>
    Dieting is the practice of eating food in a regulated way to decrease, maintain, or increase body weight,
or to prevent and treat diseases such as diabetes and obesity.
Dieting to lose weight is recommended for people with weight-related health problems, but not otherwise healthy people.

Weight loss: Weight loss is a decrease in body weight resulting from either voluntary (diet, exercise) or involuntary (illness)
circumstances. Most instances of weight
loss arise due to the loss of body fat, but in cases of extreme or severe weight loss, protein and other substances in the body can also be depleted.
</p>
<p>
    In general, losing weight by following a healthy, nutritious diet — such as the Mayo Clinic Diet — can reduce your risk
of weight-related health problems, such as diabetes, heart disease, high blood pressure and sleep apnea.
</p>
<div class="section-title">
<p>Weight-Gain Diet</p>
 </div>
 <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">
  <div class="col-lg-4 menu-item filter-starters">
            <img style src="assets/img/wieghtgain.png" width="450" style="float:right" class="menu-img" alt="">
          </div>
      </div>
      </div>
</section>
<p>
Weight gain requires that you increase your daily food intake every day. It may help to write up meal plans. Make sure your goals are realistic. For example,
an increase of a few kilos may take a year to achieve. Putting on lean body weight takes time, so don't be disappointed with small gains.
</p>
<p>
Homemade protein smoothies. Drinking homemade protein smoothies can be a highly nutritious and quick way to gain weight. ...
Milk. Milk has been used as a weight gainer or muscle builder for decades
<ul><li>Rice. ...</li>
    <li>Nuts and nut butters. ...</li>
    <li>Red meats. ...</li>
    <li>Potatoes and starches. ...</li>
    <li>Salmon and oily fish. ...</li>
    <li>Protein supplements.</li>
</ul>
</p>
</body>
{% endblock content %}